.boxes {
	min-height: 180px;
}

.dark_background {
	background-color: #252523;
	color: #c7bdac;
}

.primary_jumbo {
	background-color: #3498db;	
	color: #ffffff;
}

.primary_back {
	background-color: #3498db;
}

.primary_text {
	color: #3498db;
}

.greyscale_text {
	color: #ffffff;
}
